/* Basic Styling */

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

:root {
  --rows: 16;
  --columns: 16;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e0e9eb;
  height: 100vh;
}

header {
  padding: 2em;
  font-size: 2em;
  border-bottom: 3px dotted black;
}

main {
  flex: 1;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2em 0;
  padding: 1rem 0.5rem;
  background-color: white;
  border-radius: 10px;
  width: 10rem;
}

.grid-container {
  border: 2px solid gray;
  width: 50vh;
  height: 50vh;
  margin: 0 auto;
  background-color: gray;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: 2px;
}

.grid-item {
  background-color: white;
}

.hovered {
  background-color: aqua;
}
